<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>AJ Stuyvenberg</h2>
		<p>Software Engineer, Parachute Enthusiast</p>
    <ul class="icons">
      <li><a href="{{ site.github_url }}" class="icon banner-icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
		  <li><a href="{{ site.instagram_url }}" class="icon banner-icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
		  <li><a href="{{ site.twitter_url }}" class="icon banner-icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
		  <li><a href="{{ site.youtube_url }}" class="icon banner-icon fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
    </ul>
	</div>
	<a href="#one" class="more scrolly">Say Hi</a>
</section>
