<head>
  {% seo %}
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/css/ie9.css" | relative_url }}" /><![endif]-->
  <link rel="icon" href="/assets/images/aj_32_32.png" sizes="any">
  <meta name="twitter:site" content="{{ site.author.twitter_username }}">

  {% if page.description %}
    <meta name="twitter:description"
      content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description"
      content="{{ page.content | strip_html | xml_escape
	| truncate: 200 }}">
  {% endif %}
</head>
