<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <img src="assets/images/profile_image.jpg" class="profile-image" alt='headshot' title='headshot'>
    <h2>Hi, I'm AJ</h2>
      <p class="titles">
      I'm a Staff Engineer at <a href="https://datadoghq.com">Datadog</a> and an <a href="https://aws.amazon.com/developer/community/heroes/aj-stuyvenberg/">AWS Hero</a>
      </p>
      <p class="titles">
        My work focuses on distributed data systems, software performance, and observability.</br>
      </p>
      <p class="titles">
        Let's solve your p99.</br>
      </p>
      <p class="titles">
         <i>Boston, MA</i></br>
      </p>
      <p class="titles">
         <a href="/about">More about me</a>
      </p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-terminal major style1"></span>
      </li>
      <li><span class="icon fa-gear major style2"></span>
      </li>
      <li><span class="icon fa-code major style3"></span>
      </li>
    </ul>
  </div>
</section>
