<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <img src="assets/images/profile_image.jpg" class="profile-image" alt='headshot' title='headshot'>
    <h2>AJ Stuyvenberg</h2>
      <p class="titles">
      Staff Engineer at <a href="https://datadoghq.com">Datadog</a>
      </p>
      <p class="titles">
        (ex) Principal Engineer at <a href="https://serverless.com">Serverless Framework</a>.
      </p>
      <p class="titles">
        Serverless & distributed systems.</br>
         Avid parachutist, hiker, dog-lover.
      </p>
      <p class="titles">
         <i>Boston, MA</i></br>
      </p>
      <p class="titles">
         <a href="/about/">More about me</a>
      </p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-terminal major style1"></span>
      </li>
      <li><span class="icon fa-gear major style2"></span>
      </li>
      <li><span class="icon fa-code major style3"></span>
      </li>
    </ul>
  </div>
</section>
